body {
  background-image: url('../images/banner1.png'); 
  background-color: darkcyan; 
    background-attachment: fixed;
    background-size: cover;
   background-position: center; 
   opacity: 4;
    width: 100%;
   
}


  img {
    border-radius: 50%;
  padding: 5px;
  width: 50px;
  }
  h3{
    color:#f1f1f1;
    display: inline-block;
    padding-top: 10px;

  }
  
/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: none;
    color: whitesmoke;
    overflow: auto;
    opacity: none;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: indigo;
    border-radius: 20px;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: indigo;
    border-radius: 20px;
  }
  .section {
    padding: 4px ;
    font-size: 20px;
    color: whitesmoke;
    font-family: georgia;
    align-items: center;
  }
  .transfer {
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
  }
  .transfer a{
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  .transfer a:hover {
    background-color: red;
    border-radius: 25px;
  }
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 150px) {
    .navbar a {
      float: none;
      display: block;
    }
    @media only screen and (max-width:620px) {
      /* For mobile phones: */
      .body {
        width:100%;
      }
    }
  }
    